@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #aaa;
}

footer a {
  color: #333;
}

footer {
  background: #ebedf2;
  text-align: center;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}

h4 {
  color: #00ed82;
  font-size: 13px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}
