/* body */
.body {
  background: #000;
  color: #fff;
  font-family: "Rubik", sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
}

/* button */
.btn_cta {
  background: #fff;
  border-radius: 0.25rem;
  border: none;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1rem;
  min-width: 8rem;
  padding: 1.25rem 2rem;
  text-transform: uppercase;
}

.btn_cta:hover {
  opacity: 0.8;
}

.btn_dark {
  background: #000;
  border-radius: 0.375rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1rem;
  margin-top: 2rem;
  min-width: 8rem;
  padding: 1.25rem 2rem;
  text-transform: uppercase;
  width: 100%;
}

.btn_login {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn_outline {
  background: none;
  border-radius: 0.375rem;
  border: 0.125rem solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1rem;
  min-width: 8rem;
  padding: 1.25rem 2rem;
  text-transform: uppercase;
  text-transform: uppercase;
}

.btn_outline:hover {
  border-color: #ccc;
  color: #fff;
}

/* Categories */
.categories .cover_1 {
  background: url("../public/img/cover-1.webp") no-repeat center center / cover;
}
.categories .cover_2 {
  background: url("../public/img/cover-2.webp") no-repeat center center / cover;
}
.categories .cover_3 {
  background: url("../public/img/cover-3.webp") no-repeat center center / cover;
}
.categories .cover_4 {
  background: url("../public/img/cover-4.webp") no-repeat center center / cover;
}

.categories .cover_grid {
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.categories .cover_text {
  left: 1.25rem;
  position: absolute;
  text-align: left;
  top: 1.25rem;
}

.categories .covers > div {
  height: 32rem;
  position: relative;
  width: 18rem;
}

.categories .covers {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2.5rem;
}

.categories {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 2.5rem;
  text-align: center;
}

/* section divider */
.divider {
  border-top: 1px #ccc solid;
  height: 0.125rem;
  margin: 2rem 0;
  width: 100%;
}

/* Footer */
.footer_container {
  color: #333;
  margin: auto;
  max-width: 1280px;
  padding: 1.25rem;
}

.footer_lists .list_head {
  font-weight: bold;
  margin-bottom: 0.375rem;
  text-transform: uppercase;
}

.footer_lists {
  display: flex;
  justify-content: space-between;
}

/* Form */
.form_control input {
  width: 100%;
  border: 2px #ccc solid;
  border-radius: 0.375rem;
  height: 3rem;
  padding: 0.375rem;
}
.form_control label {
  display: block;
  text-transform: uppercase;
}

.form_control {
  margin: 1.25rem 0;
}

/* Header */
.header .header_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2rem;
}

.header .header_text_1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.header .header_text_2 {
  font-size: 1.125rem;
  margin: 1.5rem 0;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem 2.5rem;
  position: relative;
  z-index: 2;
}

.header {
  background: url("../public/img/header.webp") no-repeat center center / cover;
  height: 33rem;
}

.header::after {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
  content: "";
  height: 11rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Live */
.legal_text {
  color: #ccc;
  font-size: 0.75rem;
  margin: 1.25rem;
}

.live a {
  font-size: 1.125rem;
  margin-top: 1.25rem;
  text-decoration: underline;
  text-transform: uppercase;
}

.live {
  background: #151516;
  padding: 2.5rem;
}

.live_border {
  align-items: center;
  border-radius: 1rem;
  border: 0.25rem solid #1ce783;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7rem;
  text-align: center;
}

/* Live Sports */
.live_sports {
  background: url("../public/img/live-sports.webp") no-repeat center center /
    cover;
  height: 56rem;
  position: relative;
}

.live_sports_content {
  left: 6rem;
  max-width: 36rem;
  position: absolute;
  top: 10rem;
}

.live_sports_logos > div {
  align-items: center;
  background: url("../public/img/network-logo-bg.webp") no-repeat center center /
    cover;
  display: flex;
  height: 4rem;
  justify-content: center;
  width: 4rem;
}

.live_sports_logos {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  width: 18rem;
}

/* Modal */
.modal .modal_footer a {
  color: black;
}

.modal_body {
  padding: 3rem;
}

.modal_body_h3 {
  font-weight: 100;
}

.modal_box {
  margin: 10% auto;
  width: 24rem;
  background: #fff;
  color: #333;
  position: relative;
  animation: openModal 1s;
}

.modal_footer {
  background: #f7f7f9;
  color: #333;
  padding: 20px 0;
  border-top: #eee 1px solid;
  text-align: center;
}

/* social media buttons */
.social_icons_img {
  height: 1.5rem;
  margin-right: 1.5rem;
  width: 1.5rem;
}

/* Sub Header */
.sub_header > div:last-of-type .sub_link {
  text-align: center;
}

.sub_header > div:last-of-type {
  align-self: end;
  justify-self: end;
}

.sub_header {
  align-items: center;
  background: linear-gradient(
    318.68deg,
    #0f495c 0%,
    #0d3640 49.72%,
    #08141f 100%
  );
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 2fr 4fr 2fr;
  padding: 2rem 2.5rem;
}

.sub_link {
  display: block;
  color: #ccc;
  font-size: 0.875rem;
  margin-top: 0.375rem;
  text-decoration: underline;
}

/* text */
.sub_text {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  max-width: 48rem;
}

.text_xl {
  font-size: 4.5rem;
  font-weight: 700;
}

@keyframes openModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 1440px) {
  .live_sports_paragraph {
    width: 34rem;
  }
}

@media (max-width: 1024px) {
  .categories .covers {
    grid-template-columns: 1fr 1fr;
  }

  .live_sports_paragraph {
    width: 32rem;
  }
}

@media (max-width: 768px) {
  .legal_text {
    width: 24rem;
  }

  .header_content {
    padding: 0 1.25rem;
  }

  .header .header_text_1 {
    margin-bottom: 40px;
  }

  .header .header_text_2 {
    display: none;
  }

  .sub_header {
    gap: 20px;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sub_header_img {
    margin: auto;
    width: 248px;
  }

  .sub_header > div:last-of-type {
    align-self: center;
    justify-self: center;
  }

  .text_xl {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  .sub_text {
    font-size: 1.25rem;
  }

  .categories .covers {
    grid-template-columns: 1fr;
  }

  .live_sports_paragraph {
    width: 26rem;
  }
}

@media (max-width: 425px) {
  .legal_text {
    width: 20rem;
  }

  .live_border {
    padding: 1.75rem 0.625rem;
  }

  .live_sports {
    background: url("../public/img/live-sports-small.webp") no-repeat center
      center / cover;
  }

  .live_sports_content {
    left: 1.875rem;
    margin-top: 3.75rem;
    top: 1.875rem;
  }

  .footer_lists {
    flex-direction: column;
  }

  .header_content {
    text-align: center;
  }

  .modal_box {
    width: 22rem;
  }
}

@media (max-width: 375px) {
  .legal_text {
    width: 19rem;
  }

  .modal_box {
    width: 19rem;
  }
}

@media (max-width: 320px) {
  .modal_box {
    width: 18rem;
  }

  .legal_text {
    width: 16rem;
  }
}
